{% extends 'mypagebase.html' %}
{% load static %}
{% block title %}Seed - Gather{% endblock %}

{% block content %}

<div class="text-center">
    <h1 class="title" style="background: #ffc107; color:white;">Gather - Post</h1>
    <hr>
    <div class="text-start">
        <a href="{% url 'seed:gather' %}" class="btn btn-warning" style="color:white;">戻る</a>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div>
            {% for field in form %}
            <label class="form-label" for="{{ field.id_for_label }}">{{ field.label }}</label><br>
            {{ field }}
            <br>
            <br>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-warning" style="color:white">投稿</button>
    </form>
    {% for field, error in form.errors.items %}
        <div class="error">{{field}}{{ error }}</div>
    {% endfor %}
</div>

{% endblock %}