{% extends 'mypagebase.html' %}
{% load static %}
{% block title %}Seed - Gather{% endblock %}
{% block content %}
<div class="text-center">
    {% if request.user.is_authenticated %}
    <h1 class="title" style="background: #ffc107; color:white;">Gather</h1>
    <hr>
    <div class="text-end" style="margin-bottom:20px;">
        <a class="btn btn-warning" href="{% url 'seed:gatherpost' %}"  style="color:white;">投稿</a>
        <a class="btn btn-warning" href="{% url 'seed:mygather' %}"  style="color:white;">自分の投稿</a>
    </div>

    <div class="container">
        <div class="row">
            {% for gather in gather_list %}
            <div class="col-3">
                <div class="card" style="width: 100%;">
                    <img src="{% static 'assets/img/mypage/damy.png' %}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{gather.title}}</h5>
                        <p class="card-text">
                            {{gather.user_id.username}}
                        </p>
                        <p class="card-text" style="color:gray; font-size:smaller;">
                            <span class="text-start">投稿日 : </span><span
                                class="text-end">{{gather.create_at|date:"Y/m/d"}}</span>
                        </p>
                        <a href="{% url 'seed:gather_detail' gather.pk %}" class="btn btn-warning" style="color:white;">詳細</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <h1>ログインしてください</h1>
    <a href="{% url 'seed:login' %}" class="btn btn-primary">ログイン</a>
    {% endif %}
</div>
{% endblock %}