{% extends 'mypagebase.html' %}
{% load static %}
{% block title %}Seed - Mission{% endblock %}
{% block content %}
<div class="text-center">
    {% if request.user.is_general %}
        <h1 class="title" style="background-color: #198754; color:white">Mission</h1>
        <hr>
    {% if data %}
        <div class="text-end">
            <a href="{% url 'seed:download_mission_qr' %}" class="btn btn-success">ポイント使用</a>
        </div>
        <br>
        <br>
        <div class="circle">
            <h1>{{data.mission.rank}}</h1>
        </div>
        <br>
        <br>
        <p>【今日のミッション】</p>
        <p style="font-size:20px;">{{data.mission.mission}}</p>
        <br>
        <p style="color:gray;">Mission Point :      {{request.user.mission_point}}p<br>
            <a href="{% url 'seed:pointexplanetion' %}" style="color:gray; font-size:13px;">Mission Pointとは?</a>
        </p>
        <br>
        <p style="color:gray;">※一日一回しか抽選できません。</p>
    {% else %}
        <br>
        <br>
        <br>
        <br>
        <h3>今日のミッションはまだ与えられていません</h3>
        <br>
        <br>
        <p>一日一回、くじを引いてその日の運勢とミッションを獲得しよう!</p>
        <p>くじを引くとMissionPointが加算されます。</p>
        <br>
        <br>
        <button type="button" onclick="location.href='{% url 'seed:draw' %}'" class="btn btn-success">今日のミッションを取得</button>
    {% endif %}
    {% else %}
        <h1>一般ユーザ専用機能です</h1>
        <a href="{% url 'seed:mypage' %}" class="btn btn-primary">マイページへ</a>
    {% endif %}
</div>
{% endblock %}