{% extends 'mypagebase.html' %}
{% load static %}
{% block title %}Seed - Gather{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="title" style="background: #ffc107; color:white;">Gather - Posted</h1>
    <hr>
    <div class="text-start" style="margin-bottom:20px;">
        <a href="{% url 'seed:gather' %}" class="btn btn-warning" style="color:white;">Gather一覧に戻る</a>
    </div>
    {% if mygather_list %}
    <div class="row" style="height: 650px; width:100%; overflow-y: scroll;">
        {% for gather in mygather_list %}
        <div class="col-3">
            <div class="card" style="width: 100%;">
                <img src="{% static 'assets/img/mypage/damy.png' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{gather.title}}</h5>
                    <p class="card-text">
                        {{gather.user_id.username}}
                    </p>
                    <a href="{% url 'seed:gather_detail' gather.pk %}" class="btn btn-warning" style="color:white;">詳細</a>
                    <form method="POST">
                        <a href="{% url 'seed:gather_delete' gather.pk %}" class="btn btn-danger" style="color:white;">削除</a>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <h3>投稿している募集情報はありません</h3>
    {% endif %}
</div>
{% endblock %}