{% extends 'mypagebase.html' %}
{% load static %}
{% block title %}Seed - mypage{% endblock %}
{% block content %}
<div class="mt-5">
    <div class="text-center">
        <img src="{% static 'assets/img/top/icon.png' %}" class="mx-auto" alt="seed" width="100" height="100">
        <h1>ようこそSeedへ</h1>
        <div class="mt-5">
            <p>ここでは、持続化な社会を目指すためのさまざまなサービスを提供します。</p>
        </div>
        <br>
        <br>
        {% if user.is_general %}
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <div class="card" style="width: 100%;">
                        <img src="{% static 'assets/img/mypage/food.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Food rescue</h5>
                            <p class="card-text">
                                身近な食品ロスを<br>
                                救いませんか？<br>
                                <br>
                            </p>
                            <a href="{% url 'seed:food_rescue' %}" class="btn btn-light" style="background-color: #ad6500; color:white;">Go
                                somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 100%;">
                        <img src="{% static 'assets/img/mypage/mission.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Mission</h5>
                            <p class="card-text">
                                その日のミッションを<br>
                                提案します<br>
                                <br>
                            </p>
                            <a href="{% url 'seed:mission' %}" class="btn btn-success">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 100%;">
                        <img src="{% static 'assets/img/mypage/gather.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Gather</h5>
                            <p class="card-text">
                                ボランティア・地域活動を<br>
                                サポートします<br>
                                <br>
                            </p>
                            <a href="{% url 'seed:gather' %}" class="btn btn-warning" style="color:white;">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="card" style="width: 100%;">
                        <img src="{% static 'assets/img/mypage/community.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Community</h5>
                            <p class="card-text">
                                あなたの問題に<br>
                                知恵を貸します<br>
                                <br>
                            </p>
                            <a href="{% url 'seed:community' %}" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card" style="width: 100%;">
                        <img src="{% static 'assets/img/mypage/food.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Food rescue</h5>
                            <p class="card-text">
                                あなたの食品ロスを解決します<br>
                                <br>
                                <br>
                            </p>
                            <a href="{% url 'seed:food_rescue' %}" class="btn btn-light" style="background-color: #ad6500; color:white;">Go
                                somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 100%;">
                        <img src="{% static 'assets/img/mypage/gather.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Gather</h5>
                            <p class="card-text">
                                ボランティア・地域活動<br>
                                サポートします<br>
                                <br>
                            </p>
                            <a href="{% url 'seed:gather' %}" class="btn btn-warning" style="color:white;">Go somewhere</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 100%;">
                        <img src="{% static 'assets/img/mypage/community.png' %}" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Community</h5>
                            <p class="card-text">
                                企業情報を発信しませんか？<br>
                                <br>
                                <br>
                            </p>
                            <a href="{% url 'seed:community' %}" class="btn btn-primary">Go somewhere</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}