{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="mypage">
    {% if user.is_authenticated %}
    <main style="height:100vh;">
        <div style="display: flex; flex-wrap: wrap; height:100%;">
            <div>
                <div class="d-flex flex-column p-3 text-white bg-dark h-100" style="width: 280px; height:100%;">
                    <a href="#"
                        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <img class="bi me-2" src="{% static 'assets/img/top/icon.png' %}" style="height:32px">
                        <span class="fs-4">Seed</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item my-nav">
                            <a href="#" class="nav-link text-white" aria-current="page">
                                Home
                            </a>
                        </li>
                        <li class="nav-item my-nav">
                            <a href="#" class="nav-link text-white">
                                Food rescue
                            </a>
                        </li>
                        <li class="nav-item my-nav">
                            <a href="#" class="nav-link text-white">
                                Mission
                            </a>
                        </li>
                        <li class="nav-item my-nav">
                            <a href="#" class="nav-link text-white">
                                Gather
                            </a>
                        </li>
                        <li class="nav-item my-nav">
                            <a href="#" class="nav-link text-white">
                                Community
                            </a>
                        </li>
                    </ul>
                    <hr>
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="{{ user.profile_pic.url }}" alt="" width="32" height="32"
                                class="rounded-circle me-2">
                            <strong>{{ user.username }}</strong>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                            <li><a class="dropdown-item" href="#">New project...</a></li>
                            <li><a class="dropdown-item" href="#">Settings</a></li>
                            <li><a class="dropdown-item" href="#">Profile</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{% url 'acount:logout' %}">Log out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="width:70%; margin-left: 6%;">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>
    {% else %}
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none"
                href="{% url 'top:index' %}">
                <img class="bi me-2" src="{% static 'assets/img/top/icon.png' %}" style="height:32px">
                <span class="fs-4">Seed</span>
            </a>
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link link-dark" aria-current="page" href="{% url 'acount:login' %}">ログイン</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-success" aria-current="page" href="{% url 'acount:signup' %}">新規登録</a>
                </li>
            </ul>
        </header>
    </div>
    <div class="text-center">
        <h1>ログインしてください</h1>
        <br>
        <a href="{% url 'acount:login' %}" class="btn btn-success">ログイン</a>
    </div>
    {% endif %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>