{% extends 'acountbase.html' %}
{% block title %}Seed - 新規登録{% endblock %}
{% block content %}
    <h1>新規登録</h1>
    <form action="" method="POST">
        {% csrf_token %}
        {% for field in form %}
            <p>
                {{field.label_tag}}<br>
                {{field}}
                <br>
                {% if field.help_text %}
                    <small style="color:gray;">{{field.help_text}}</small>
                {% endif %}
                {% for error in field.errors %}
                    <smaill style="color:red;">{{error}}</smaill>
                {% endfor %}
            </p>
        {% endfor %}
        <button type="submit">登録</button>
    </form>
{% endblock %}