#id_title{
    width: 300px;
}

#id_prefecture{
    width: 300px;
}

#id_access{
    width: 300px;
}

#id_contact{
    width: 300px;
}

#id_detail{
    width: 300px;
    height: 100px;
}

.mypage::-webkit-scrollbar {
    display:none;
}

.nav-pills .my-nav .nav-link:hover {
    background-color: #313135;
    color: #fff;
}
