{% extends 'mypagebase.html' %}
{% load static %}
{% block title %}Seed - Community{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="title" style="background-color:#0d6efd; color:white;">Community - Joined</h1>
    <hr>
    <div>
        <div class="text-end" style="margin-bottom:20px;">
            <a class="btn btn-primary" href="{% url 'seed:community' %}">戻る</a>
            <a class="btn btn-primary" href="{% url 'seed:mycommunity' %}">自分の投稿</a>
        </div>
    </div>
    <div class="container">
        <div style="height: 650px; width:100%; overflow-y: scroll;">
            {% if community_list %}
                {% for community in community_list %}
                <a href="{% url 'seed:community_detail' community.community.id %}" style="text-decoration: none; color:black;">
                    <div class="bg-light p-3 rounded" style="height:100px; margin-bottom:20px;">
                        <table style="margin:auto;">
                            <tr>
                                <td  rowspan="2">
                                    <img src="{{ community.user.profile_pic.url}}" width="64" height="64" class="rounded-circle me-2">
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" class="text-start" style="padding-left:20px">
                                    {{community.community.user.username}}<br>
                                    <span class="fs-5">{{community.community.title}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <h3>参加中のCommunityはありません</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
