{% extends 'mypagebase.html' %}
{% load static %}
{% block title %}Seed - Community{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="title" style="background-color:#0d6efd; color:white;">Community</h1>
    <hr>
    <div>
        <div>
            <form method="POST">
                {% csrf_token %}
                <select name="genre">
                    <option value selected>-----------------</option>
                    {% for genre in genre_list %}
                        <option value={{prefecture.id}}>{{genre.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="検索" class="btn btn-primary">
            </form>
        </div>
        <div class="text-end" style="margin-bottom:20px;">
            <a class="btn btn-primary" href="{% url 'seed:communitypost' %}">投稿</a>
            <a class="btn btn-primary" href="{% url 'seed:community_joined' %}">参加中のCommunity</a>
        </div>
    </div>
    <div class="container">
        <div style="height: 650px; width:100%; overflow-y: scroll;">
            {% if community_list %}
                {% for community in community_list %}
                <a href="{% url 'seed:community_detail' community.id %}" style="text-decoration: none; color:black;">
                    <div class="bg-light p-3 rounded" style="height:100px; margin-bottom:20px;">
                        <table style="margin:auto;">
                            <tr>
                                <td  rowspan="2">
                                    <img src="{{ community.user.profile_pic.url}}" width="64" height="64" class="rounded-circle me-2">
                                </td>
                            </tr>
                            <tr>
                                <td width="100%" class="text-start" style="padding-left:20px">
                                    {{community.user.username}}<br>
                                    <span class="fs-5">{{community.title}}</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </a>
                {% endfor %}
            {% else %}
                <h3>投稿がありません</h3>
            {% endif %}
        </div>
    </div>

</div>
{% endblock %}