{% extends 'mypagebase.html' %}
{% load static %}
{% block title %}Seed - Food rescue{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="title" style="background-color: #ad6500; color:white;">Food rescue - Detail</h1>
    <hr>
    <div class="text-start">
        {% if request.GET.source %}
            <a href="{% url 'seed:food_rescue' %}" class="btn btn-light" style="background-color:#ad6500; color:white;">戻る</a>
        {% elif request.GET.posted %}
            <a href="{% url 'seed:myfood' %}" class="btn btn-light" style="background-color:#ad6500; color:white;">戻る</a>
        {% else %}
            <a href="{% url 'seed:foodfavorite' %}" class="btn btn-light" style="background-color:#ad6500; color:white;">戻る</a>
        {% endif %}
    </div>
    <br>
    <br>
    <br>

    <div class="row" style="height: 500px; width:100%; overflow-y: scroll;">
        <div class="col">
            <br>
            <br>
            <img src="{{object.image.url}}" style="width:400px">
        </div>
        <div class="col">
            <h1>{{object.name}}</h1>
            <br>
            <table class="foodtable" style="margin:auto; width:600px;">
                <tr>
                    <td class="text-start">提供元　 :</td>
                    <td class="text-end text-break"><a href="{% url 'seed:storedetail' object.company.id %}" style="color:black;">{{object.company.username}}</a></td>
                </tr>
                <tr>
                    <td class="text-start">価格　　 :</td>
                    <td class="text-end text-break">¥ {{object.price}}<br><span style="color:gray; font-size:15px;">(-{{difference}})</span></td>
                </tr>
                <tr>
                    <td class="text-start">商品詳細 :</td>
                    <td class="text-start text-break">{{object.detail}}</td>
                </tr>
                <tr>
                    {% if object.expiration %}
                    <td class="text-start">消費期限  :</td>
                    {% else %}
                    <td class="text-start">賞味期限  :</td>
                    {% endif %}
                    <td class="text-end">{{object.deadline|date:"Y/m/d"}}</td>
                </tr>
            </table>
            <br>
            <br>
            {% if request.user.is_general %}
                {% if favorite %}
                    <form method="POST" action="{% url 'seed:foodfavorite_delete' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{object.pk}}">
                        {% if request.GET.source %}
                            <input type="hidden" name="source" value="rescue">
                        {% else %}
                            <input type="hidden" name="source" value="favorite">
                        {% endif %}
                        <input type="submit" class="btn btn-danger" value="お気に入り解除" style="color:white;">
                    </form>
                {% else %}
                    <form method="POST" action="{% url 'seed:addfavorite' %}">
                        {% csrf_token %}
                        <input type="hidden" name="product_id" value="{{object.pk}}">
                        {% if request.GET.source %}
                            <input type="hidden" name="source" value="rescue">
                        {% else %}
                            <input type="hidden" name="source" value="favorite">
                        {% endif %}
                        <input type="submit" class="btn btn-danger" value="お気に入りに追加" style="color:white;">
                    </form>
                {% endif %}
            {% else %}
                {% if object.company.id == request.user.id %}
                    {% if request.GET.posted %}
                        <a href="{% url 'seed:food_delete' object.pk %}?posted=posted" class="btn btn-danger" style="color:white;">削除</a>
                    {% else %}
                        <a href="{% url 'seed:food_delete' object.pk %}" class="btn btn-danger" style="color:white;">削除</a>
                    {% endif %}
                {% endif %}
            {% endif %}
        </div>
    </div>
    
</div>
{% endblock %}