{% extends 'mypagebase.html' %}
{% load static %}
{% block title %}Seed - Gather{% endblock %}
{% block content %}
<div class="text-center">
    <h1 class="title" style="background: #ffc107; color:white;">Gather</h1>
    <hr>
    <div>
        <div>
            <form method="POST" action="{% url 'seed:search_for_prefecture' %}">
                {% csrf_token %}
                <select name="prefecture">
                    <option value selected>-----------------</option>
                    {% for prefecture in prefecture_list %}
                        <option value={{prefecture.id}}>{{prefecture.name}}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="検索" class="btn btn-warning" style="color:white;">
            </form>
        </div>
        <div class="text-end" style="margin-bottom:20px;">
            <a class="btn btn-warning" href="{% url 'seed:gatherpost' %}"  style="color:white;">投稿</a>
            <a class="btn btn-warning" href="{% url 'seed:mygather' %}"  style="color:white;">自分の投稿</a>
        </div>
    </div>

    <div class="container">
        <div class="row" style="height: 650px; width:100%; overflow-y: scroll;">
            {% if gather_list %}
            
            {% for gather in gather_list %}
            <div class="col-3" style="margin-top:10px;">
                <div class="card" style="width: 100%;">
                    {% if gather.image %}
                        <img src="{{gather.image.url}}" class="card-img-top" alt="..." height="150px">
                    {% else %}
                        <img src="{% static 'assets/img/mypage/damy.png' %}" class="card-img-top" alt="..." height="150px">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{gather.title}}</h5>
                        <p class="card-text">
                            {{gather.user_id.username}}
                        </p>
                        <p class="card-text" style="color:gray; font-size:smaller;">
                            <span class="text-start">投稿日 : </span><span class="text-end">{{gather.create_at|date:"Y/m/d"}}</span>
                        </p>
                        <a href="{% url 'seed:gather_detail' gather.pk %}" class="btn btn-warning" style="color:white;">詳細</a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h3>投稿がありません</h3>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}