{% extends 'mypagebase.html' %}
{% load static %}
{% block title %}Seed - ProfilePicChange{% endblock %}
{% block content %}
<div class="mt-5 text-center">
    <br>
    <br>
    <h3>プロフィール画像変更</h3>
    <br>
    <br>
    <form method="POST" action="{% url 'seed:change_pic' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file"  class="form-control" name="newimg" style="width:500px; margin:auto;">
        <br>
        <br>
        <input type="submit" class="btn btn-success" value="変更">
    </form>
</div>
{% endblock %}