#id_title{
    width: 300px;
}

#id_prefecture{
    width: 300px;
}

#id_access{
    width: 300px;
}

#id_contact{
    width: 300px;
}

#id_detail{
    width: 300px;
    height: 100px;
}

.mypage::-webkit-scrollbar {
    display:none;
}

.nav-pills .my-nav .nav-link:hover {
    background-color: #313135;
    color: #fff;
}

.title{
    padding: 20px 0px 20px 0px;
}

.detail-table tr{
    height:70px;
}

.detail-table td{
    width: 200px;
}

.card-title{
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.food_form_table tr{
    height: 50px;
}

.food_form_table td{
    width: 150px;
}

.food_form_table label{
    font-size:large;
}

#id_name{
    width: 300px;
}

#id_price{
    width: 300px;
}

#id_genre{
    width: 300px;
}

#id_image{
    padding-left:30px;
}

.circle{
    margin:auto;
    width: 200px;
    height: 200px;
    line-height: 200px;
    background-color: green;
    border-radius: 50%;
    color: #fff;
}

.circle h1{
    font-size: 70px;
    line-height: 200px;
}

.foodtable{
    font-size: large;
}

.foodtable tr{
    height: 50px;
}

.foodtable td{
    width: 150px;
}